absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
audioread==3.0.1
backports.weakref==1.0.post1
bidict==0.23.1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
et-xmlfile==1.1.0
Faker==33.1.0
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
huggingface-hub==0.26.1
inflection==0.5.1
jsonpointer==2.1
keras==3.4.1
libclang==18.1.1
librosa==0.10.2.post1
mkl-service==2.4.0
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
opencv-python==4.10.0.84
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
patsy==0.5.3
ply==3.11
pooch==1.8.2
protobuf==3.20.3
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-engineio==4.10.1
python-lsp-jsonrpc==1.0.0
python-socketio==5.11.4
pywin32==305.1
safetensors==0.4.5
scipy==1.11.4
simple-websocket==1.1.0
sounddevice==0.5.1
soundfile==0.12.1
soxr==0.5.0.post1
sympy==1.13.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-intel==2.16.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tf_keras==2.16.0
timm==1.0.11
torch==2.5.0
torchvision==0.20.0
webencodings==0.5.1
wsproto==1.2.0
zstandard==0.19.0
